body {
	width: 100% !important;
}

a {
	text-decoration:none !important;
}

.modal {
	position: absolute;
	width: 100%;
	height: 80%;
	z-index: 999;
	background: #fff;
	background: -webkit-linear-gradient(#fff, whiteSmoke);
	background: -moz-linear-gradient(#fff, whiteSmoke);
	background: -o-linear-gradient(#fff, whiteSmoke);
	background: linear-gradient(#fff, whiteSmoke);
	border: 1px solid #ddd;
	border-radius: 6px;
	box-shadow: 0 0 10px 1px #eee;
}

.modal-close {
	margin-left: 9px;
	position: absolute;
	top: 12px;
	color: 2B2B3A;
	text-decoration: none;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: #fff;
}

.viewport {
	position:fixed !important;
	overflow: hidden;
	margin-top: -50px;
	width: 100%;
	height: 100%;
}

.progressbar {
	display: inline-block;
	width: 100px;
	margin: 25px;
}

#loader {
	position: fixed;
	width: 100%;
	height: 90%;
	z-index: 9999;
	background: url('https://i.gifer.com/5sPg.gif') 50% 50% no-repeat #656565;
}

.circle {
	width: 17%;
	margin: 0 auto;
	margin-top: 10px;
	display: inline-block;
	position: relative;
	text-align: center;
}

.circle canvas {
	vertical-align: middle;
	height: 50px !important;
	width: 50px !important;
}

.circle div {
	position: absolute;
	top: 5px;
	left: 0;
	width: 64%;
	text-align: center;
	line-height: 40px;
	font-size: 10px;
	margin-left: 10px;
}

.circle strong i {
	font-style: normal;
	font-size: 0.6em;
	font-weight: normal;
}

.circle span {
	display: block;
	color: #aaa;
	margin-top: 12px;
}

.circle p {
	display: inline-block;
	width: 100px;
	/* height: 100px; */
	/* padding: 5px; */
	/* border: 1px solid blue; */
	/* background-color: yellow; */
	margin-top: -37px;
	margin-left: 55px;
	font-size: 10px;
}

.circleLiar {
	margin-left: 22em;
	list-style-type: none;
}

.title {
	text-align: center;
	padding-top: 40px;
	font-weight: bold;
}

.textModal {
	margin-left: 54px;
	padding-top: 35px;
	width: 263px;
	justify-content: center;
}

.imgModal {
	width: 173px;
	margin-left: 93px;
	/* text-align: center; */
	margin-top: 29px;
}

.infoClass {
	width: 10px;
	margin-left: 15em;
	margin-top: -12px;
}

.logoPosition {
	width: 82px;
	margin-top: 8px;
}

.logoRodape {
	margin-left: 17em;
}

.listaUm {
	position: absolute;
	display: block;
	width: 316.797px;
	height: 564.609px;
	left: 0px;
	margin-left: 0px;
}

.listaDois {
	background-color: rgb(43, 43, 58);
	position: absolute;
	display: block;
	width: 316.797px;
	height: 564.609px;
	left: 316.797px;
	margin-left: 0px;
}

.meuSalario {
	color: #2B2B3A;
	margin-left: 231px;
	font-size: 15px !important;
	margin-top: 124px;
}

.salario {
	font-size: 12px !important;
	margin-top: -15px;
	margin-left: 245px;
}

.salario b {
	color: #822153;
}

.solicitarAumento {
	color: #2B2B3A;
	font-size: 7px !important;
	margin-top: -19px;
	margin-left: 252px;
}